{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-md-12 ml-md-auto">
            <div class="card bg-light mb-3 mt-5">
                <div class="card-body">
                    <div class="card-header text-center mb-3">
                        ID интервала - {{ rangeId }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
